nav {
  li {
    list-style-type: none;
    margin: 50px 0px;
    cursor: pointer;
    display: flex;
    font-family: Montserrat;
  }
}
.logo {
  span {
    color: #509e2f;
  }
  h1 {
    font-family: Montserrat;
  }
}

.nav-section {
  padding: 30px 0px 0px 80px;
}

.home {
  background-image: url("../assets/images/home_icon.png");
  width: 24px;
  height: 24px;
  background-size: cover;
}
