body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid{
display: grid;
grid-template-columns: 1fr 3fr 1fr;
}

.normal-color {
  color: #2b475d;
}

.s{
  font-weight: 600;
}

.heading-size{
  font-size: 17px;
}

.font-link{
  font-family: Montserrat;
}

.letter-spacing{
  letter-spacing: 0.9px;
}